body {
  font-family: Arial, Helvetica, sans-serif;
}
h1 {
  color: blue;
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  line-height: 26px;
  margin-bottom: 0;
  text-transform: capitalize;
}
ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  color: blueviolet;
  text-transform: capitalize;

  font-size: 20px;
  font-weight: 100;
  line-height: 25px;
  margin-top: 5px;
}

li ::first-letter {
  text-transform: capitalize;
}

#date {
  color: black;
}

#lastupdate {
  color: black;
  font-size: 12px;
  margin-top: 10px;
}

#temperature {
  color: blue;
  font-size: 50px;
}

.weather-app-wrapper {
  max-width: 800px;
  margin: 30px auto;
}
.Weather-app {
  padding: 20px;
  border: 1px solid blue;
  border-radius: 5px;
  margin-top: 20px;
  background-color: azure;
}

.overview {
  margin-bottom: 20px;
}
.weather-temperature img {
  margin-right: 5px;
  height: 64px;
  width: 64px;
}
.weather-temperature strong {
  color: rgb(35, 35, 35);
  font-size: 40px;
  line-height: 1;
  font-weight: 400;
}

.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -20px;
  color: black;
}

#fahrenheit-link {
  text-decoration: none;
}

#celcius-link {
  text-decoration: none;
}

.weather-temperature .active {
  color: black;
  cursor: default;
}

.weather-temperature .active:hover {
  text-decoration: none;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
  color: blue;
}

.weather-forecast-date {
  font-size: 30px;

  opacity: 0.8;
}

.weather-forecast-temperature-min {
  opacity: 0.5;
  font-size: 18px;
}

.weather-forecast-temperature {
  font-size: 18px;
}
#osc {
  margin-left: 160px;
}
